<div id="notice" ><%= notice %></div>

  <p>
    <b>Name:</b>
    <%= @actor.name %>
  </p>

  <p>
    <b>Birth date:</b>
    <%= @actor.birth_date %>
  </p>

  <p>
    <b>Gender:</b>
    <%= @actor.gender_humanize %>
  </p>

  <% if @actor.movies.any? %>
    <p>
      <b>Movies:</b>
      <ul>
        <% @actor.movies.each do |movie| %>
          <li><%= link_to movie.name, movie %></li>
        <% end %>
      </ul>
    </p>
  <% end %>

<%= link_to 'Edit', edit_actor_path(@actor), :class => "btn btn-large"  %>
<%= link_to 'Back', actors_path, :class => "btn btn-large"  %>
