<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @director.name %>
</p>

<p>
  <b>Birth date:</b>
  <%= @director.birth_date %>
</p>

<p>
  <b>Gender:</b>
  <%= @director.gender_humanize %>
</p>

<% if @director.movies.any? %>
<p>
  <b>Movies:</b>
  <ul>
    <% @director.movies.each do |movie| %>
      <li><%= link_to movie.name, movie %></li>
    <% end %>
  </ul>
</p>
<% end %>


<%= link_to 'Edit', edit_director_path(@director), :class => "btn btn-large" %>
<%= link_to 'Back', directors_path , :class => "btn btn-large" %>
